// Type
//----------------
$font-heading: 'Teko', sans-serif;
$font: 'Roboto', sans-serif;

// Color
//----------------
$bg: #001A23;
$fg: #E8F1F2;
$accent: #7EBDC3;
$danger: red;
$success: green;

// Size
//----------------
$container: 400px;
$nav-height: 50px;
$spacer: 30px !default;